<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MvxScaffolding.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.5.0.0" newVersion="15.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><applicationSettings>
    <MvxScaffolding.UI.Properties.Settings>
      <setting name="PrivacyPolicyUri" serializeAs="String">
        <value>https://github.com/Plac3hold3r/MvxScaffolding</value>
      </setting>
      <setting name="GitHubUri" serializeAs="String">
        <value>https://github.com/Plac3hold3r/MvxScaffolding</value>
      </setting>
      <setting name="TemplateVersion" serializeAs="String">
        <value>0.5.0</value>
      </setting>
      <setting name="AuthorGitHubUri" serializeAs="String">
        <value>https://github.com/Plac3hold3r</value>
      </setting>
    </MvxScaffolding.UI.Properties.Settings>
  </applicationSettings>
</configuration>
